NEXT_PUBLIC_APP_URL=NEXT_PUBLIC_APP_URL=https://private-git-main-yaxyousmonovs-projects.vercel.app
NEXT_PUBLIC_SUPABASE_URL=https://qabeijkofkrqyzdzalox.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=sb_publishable__1phFyChi8k50Wpz9oLPRQ_oskjq_V6
